@font-face {
	src: url(../../../fonts/Montserrat-Bold.ttf);
	font-family: M-bold;
}

@font-face {
	src: url(../../../fonts/Montserrat-Regular.ttf);
	font-family: M-reg;
}

.alert {
	font-family: M-bold;
	color: red;
}

.title-font {
	font-family: M-bold;
	font-size: 3.3em;
	margin-bottom: 0;
	color: #ffbf00;
}

.title {
	margin: 0 0 3% 5%;
}

a {
	font-family: M-reg;
}

.github-link {
	text-decoration: inherit;
	cursor: auto;
	color: #ffbf00;
}

.github-link:hover {
	text-decoration: inherit;
	cursor: pointer;
	color: #ffbf00c0;
}

h3 {
	font-family: M-reg;
	font-size: 1em;
	color: #eeeeee;
}

h2 {
	font-family: M-bold;
	font-size: 1.5em;
	color: #eeeeee;
}

.flex-container {
	display: block;
	width: 100%;
	justify-content: space-between;
}

.container-div-1 {
	margin-left: 15%;
	margin-bottom: 3%;
}

.container-div-2 {
	margin-right: 15%;
}

.container-div {
	text-align: center;
	float: left;
	width: 50%;
	margin: 0 0 2% 0;
	padding: 0 3% 0 3%;
}
