@font-face {
	src: url(../../../fonts/Montserrat-Bold.ttf);
	font-family: M-bold;
}

@font-face {
	src: url(../../../fonts/Montserrat-Regular.ttf);
	font-family: M-reg;
}

@font-face {
	font-family: M-light;
	src: url(../../../fonts/Montserrat-Light.ttf);
}

.title-font {
	font-family: M-bold;
	font-size: 3.3em;
	margin-bottom: 0;
	color: #ffbf00;
}

.title {
	margin: 0 0 3% 5%;
}

a {
	font-family: M-reg;
}

.github-link {
	text-decoration: inherit;
	cursor: auto;
	color: #ffbf00;
}

.github-link:hover {
	text-decoration: inherit;
	cursor: pointer;
	color: #ffbf00c0;
}

h3 {
	font-family: M-light;
	font-size: 1em;
	color: #ffbf00;
}

h2 {
	font-family: M-bold;
	font-size: 1.5em;
	color: #eeeeee;
}

.container-div {
	display: inline-block;
	width: 100%;
	justify-content: center;

	text-align: center;
}
