@font-face {
	src: url(../fonts/Montserrat-Bold.ttf);
	font-family: M-bold;
}

.project-odd {
	display: inline-flex;
	width: 100%;
	color: #292830;
	background-color: #ffbf00;
	transition: 0.3s;
}

.project-even {
	display: inline-flex;
	width: 100%;
	color: #ffbf00;
	transition: 0.3s;
}

.project-odd:hover {
	cursor: pointer;
	background-color: #ffbf00c0;
}

.project-even:hover {
	cursor: pointer;
	color: #ffbf00c0;
}

.project-number {
	padding: 1% 10% 1% 7%;
}

.project-name {
	padding: 1% 10% 1% 10%;
}

.link {
	text-decoration: inherit;
	color: inherit;
	cursor: auto;
}

@media only screen and (min-width: 1800px) {
	.project-list {
		position: absolute;
		top: 30%;
		width: 100%;
		margin: 0;
		padding: 0;
	}

	h1 {
		font-family: M-bold;
		font-size: 3.75em;
		background-color: transparent;
	}
}

@media only screen and (min-width: 1600px) and (max-width: 1800px) {
	.project-list {
		position: absolute;
		top: 25%;
		width: 100%;
		margin: 0;
		padding: 0;
	}

	h1 {
		font-family: M-bold;
		font-size: 3.25em;
		background-color: transparent;
	}
}
@media only screen and (min-width: 1200px) and (max-width: 1600px) {
	.project-list {
		position: absolute;
		top: 22%;
		width: 100%;
		margin: 0;
		padding: 0;
	}

	h1 {
		font-family: M-bold;
		font-size: 3em;
		background-color: transparent;
	}
}
@media only screen and (min-width: 900px) and (max-width: 1200px) {
	.project-list {
		position: absolute;
		top: 17%;
		width: 100%;
		margin: 0;
		padding: 0;
	}

	h1 {
		font-family: M-bold;
		font-size: 2.7em;
		background-color: transparent;
	}
}
@media only screen and (min-width: 600px) and (max-width: 900px) {
	.project-list {
		position: absolute;
		top: 15%;
		width: 100%;
		margin: 0;
		padding: 0;
	}

	h1 {
		font-family: M-bold;
		font-size: 2.4em;
		background-color: transparent;
	}
}
@media only screen and (max-width: 600px) {
	.project-list {
		position: absolute;
		top: 15%;
		width: 100%;
		margin: 0;
		padding: 0;
	}

	h1 {
		font-family: M-bold;
		font-size: 2em;
		background-color: transparent;
	}
}
